* {
  box-sizing: border-box;
}

:root {
  border-top: 10px solid darkred;
  /* background-image: radial-gradient(darkgray 1px, transparent 0); */
  background-size: 18px 18px;
  background-position: -15px -15px;
  /* background-position: fixed; */
  background-attachment: fixed;
  /*
  */
  --stdTransition: background-color 0.2s ease;
  text-align: center;
  /* Manter --fonte para compatibildiade dos temas antigos e SVGs */
  --fonte: var(--fontColor);
  --vidro: rgba(6, 6, 4, .3);
  --borders: 1px solid var(--fontColor);
  --borderRadius: 3px;
  --stdBorder: 1px solid var(--fontColor);
  color: var(--fontColor);
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--backgroundColor);
  --gradiente: radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%);
  --dimmedFontColor: #777;
  --hoverBackground: #282828;
  --headingsColor: #252563;
  --darkerBg: #282828;
  --linkColor: midnightblue;
  --linkColorHover: blue;
  --corTermo: tomato;
  --selectionColor: #d3e3fd;
  --fontSelectionColor: black;
  --highLightColor: springgreen;
  --backgroundColor: #eee;
  --borderColor: #666;
  --fontColor: #001d35;
}

::selection {
  background: var(--selectionColor);
  color: var(--fontSelectionColor);
}

p {}

/* Deprecar 
:root[data-tema="light"] {
  --gradiente: radial-gradient(
                       ellipse at 50% 50%, 
                       #c61d1020 0, 
                       transparent 55%), 
                     radial-gradient(
                       ellipse at 50% 50%, 
                       #ffa70050 0, 
                       transparent 75%);
  --dimmedFontColor: #666;
  --hoverBackground: #ccc;
  --navLinkHoverBack: gray;
  --linkColor: #5a5fed;
  --linkColorHover: darkblue;
  --headingsColor: darkred;
  --darkerBg: darkgray;
  --corTermo: darkred;
  --selectionColor: var(--headingsColor);
  --fontSelectionColor: var(--backgroundColor);
  --highLightColor: lime;
  --backgroundColor: #eee;
  --borderColor: black;
  --fontColor: #222;
}
:root[data-tema="dark"] {
}
*/

body {
  /*
  */
  margin-top: 2ch;
  border-top: 4px red;
  align-items: center;
  margin: 2ch calc(20% - 130px);
  /* quero ver mais elegante */
}

p {}

strong {
  color: black;
  font-weight: 500;
}

article {
  /* border-radius: var(--borderRadius); */
  /* background-color: rgb(10, 10, 10, .4); */
  /* background: #ccc; */
  /* background-image: linear-gradient(ellipse at 60% 40%, #bf398910 0, transparent 75%); */
  /* background: linear-gradient(#ccc, rgb(204, 204, 204, .6)); */
  /* background-color: tan; */
  margin-top: 4ch;
  text-align: start;
  padding: 2rem;
}

footer {
  font-size: 60%;
}

button,
select {
  color: var(--backgroundColor);
  background-color: var(--headingsColor);
  border-radius: var(--borderRadius);
  border: 1px solid var(--stdBorder);
  padding: 0.5ch;
}

button:active {
  background-color: var(--fontColor);
}

/* Limpar campos de input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  /*
  text-decoration: underline;
  */
  color: var(--linkColorHover);
}

#search-output,
#artlist,
#files {
  margin-left: 0px;
  padding-left: 0px;
}

#files li {
  padding-left: 10px;
}

#files li::marker {
  content: none;
}

#files li:hover {
  padding: 10px;
  width: fit-content;
  background-color: var(--vidro);
  border-radius: var(--borderRadius);
}

#search-output li::marker {
  content: none;
}

#artlist {
  width: 100%;
}

ul,
li {
  font-style: normal;
  padding-left: 0px;
  margin-left: 0px;
}

ul::marker,
li::marker {
  content: " — "
}

.footnotes ol li::marker {
  content: initial;
}

#artlist li {
  margin-left: 0px;
  padding-left: 0px;
  display: none;
}

.calculadoras {
  padding: 3ch;
  width: fit-content;
  max-width: 70%;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

.calculadoras input {
  max-width: 10ch;
}

.calculadoras p {
  font-size: 85%;
}

#eu {
  text-align: center;
}

#eu img {
  border-radius: 100%;
  max-height: 20vh;
  border: 3px solid var(--fontColor);
}

#autor {
  /*
  */
  margin: auto;
  margin-top: 2ch;
  white-space: nowrap;
  font-weight: normal;
}

#autor,
#frase {
  /*
  max-width: 60vw;
  width: fit-content;
  */
  text-align: center;
}

#boasvindas {
  padding: 0;
  text-align: start;
  font-size: 200%;
}

/* Questionável ... */
#maquinaescrever {
  margin-top: 3vw;
}

span#frase {
  border-right: 10px solid var(--borderColor);
  animation: blinkTextCursor 800ms steps(44) infinite normal;
  border-right: 10px solid var(--borderColor);
  border-radius: 0px;
  animation: blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--fontColor);
  }

  to {
    border-right-color: transparent;
  }
}


#frase {
  /*
  margin-left: var(--margem);
  transition: filter 2.5s ease-in-out, color 4s ease-in-out ;
  text-shadow: 8px 6px 10px var(--sombra);
  filter: blur(5px);
  */
  /* font-family: 'Fira Mono'; */
  font-style: italic;
  text-align: center;
  color: var(--corFonte);
  padding-left: auto;
  padding-right: auto;
  border-radius: 5px;
}

#frase.show {
  /*
  filter: none;
  color: var(--fraseShow);
  */
}

#frase:hover {
  color: var(--fraseHover);
}

nav.barra {
  /* position: fixed; */
  /* top: 5px; */
  /* left: 1rem; */
  /* left: calc(20% - 130px); */
  /* background: repeating-linear-gradient(90deg, var(--headingsColor),var(--headingsColor), 2px, transparent 0, transparent 10px); */
  font-size: 160%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  /* border: none; */
  /* padding: 1vw; Necessário para boa acomodação em telas menores */
  /*
  font-style: bold;
  width: fit-content;
  justify-content: space-between;
  background-color: var(--vidro);
  border: var(--stdBorder);
  border-radius: var(--borderRadius);
  margin-bottom: 14px;

  position: fixed;
  justify-content: flex-end;
  top: 0;
  margin: 0px;
  width: 100vw;
  z-index: +100;
  */
  height: fit-content;
  padding: 0px;
}

nav a {
  margin: 0px;
  color: var(--headingsColor);
  padding-right: 14px;
  border-radius: var(--borderRadius);
  transition: var(--stdTransition);
  font-weight: bold;
}

nav.barra a:active,
nav.barra a:hover {
  /*
  background-color: var(--hoverBackground);
  */
  color: darkred;
  /* Para evitar ser sobreposto por a{}*/
  text-decoration: none;
}

.divGlobalSearch {
  display: flex;
  align-content: center;
}

nav.barra img {
  max-height: 6ch;
}

.home {
  /* border: 1px solid var(--borderColor); */
  /* background: var(--vidro); */
  /* background: white; */
  /* border-radius: var(--borderRadius); */
  /* padding: 2px; */
  /* background: var(--headingsColor); */
}

.home a {
  /* color: var(--backgroundColor); */
  padding: 1px 3px;
  font-family: 'raleway';
  font-weight: 900;
}

mark {
  color: black;
  background-color: var(--highLightColor);
  position: relative;
  white-space: nowrap;
  display: inline;
  z-index: +1;
}

mark::before,
mark::after {
  background-color: var(--highLightColor);
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: 100%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-4deg);
}

input {
  /* background-color: var(--hoverBackground); */
  color: var(--fontColor);
  margin-top: 1ch;
  outline: none;
  text-indent: 5px;
  background: none;
  height: 2em;
  text-align: start;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

input:focus {}

input::placeholder {
  color: var(--dimmedFontColor);
}

[id^="tag_"] {
  white-space: nowrap;
}

#tag_culinária::before {
  content: "🍸🍕 ";
}

#tag_apresentações::before {
  content: "📽️ ";
}

#tag_receitas::before {
  content: "🍅🍲 ";
}

#tag_linux::before {
  content: "🐧 ";
}

#tag_tecnologia::before {
  content: "📡💻 ";
}

#tag_mecânica::before {
  content: "🔧⚙️ ";
}

#tag_automobilismo::before {
  content: "🏎️💨 ";
}

#tag_carros::before {
  content: "🚗 ";
}

#tag_projetos::before {
  content: "👷🏽‍♂️🚧 ";
}

#tag_arqueologia::before {
  content: "🗿 ";
}

#tag_programação::before {
  content: "🧑🏽‍💻 ";
}

#tag_rust::before {
  content: "🚀 ";
}

#tag_filosofia::before {
  content: "🧠💭 ";
}

#tag_nefrologia::before {
  content: "🥔 ";
}

#tag_cardiologia::before {
  content: "❤️ ";
}

#tag_pneumologia::before {
  content: "🫁 ";
}

#tag_endocrinologia::before {
  content: "📊🩸 ";
}

#tag_ciência::before {
  content: "🧪👨🏽‍🔬 ";
}

#tag_emergências::before {
  content: "🚨 ";
}

#tag_emergência::before {
  content: "🚨 ";
}

#tag_calculadoras::before {
  content: "🔢 ";
}

#tag_guias::before {
  content: "🔀 ";
}

#tag_medicina::before {
  content: "🩺💉 ";
}

#tag_finanças::before {
  content: "📊$ ";
}

#tag_economia::before {
  content: "💰💵 ";
}

#tag_dor::before {
  content: "💢😖 ";
}

#tag_geopolítica::before {
  content: "🌍 ";
}

#tag_biologia::before {
  content: "🌱 ";
}

#tag_estoicismo::before {
  content: "🗿 ";
}

#tag_anestesia::before {
  content: "💉😴 ";
}

#tag_trauma::before {
  content: "🤕 ";
}

#tag_imunologia::before {
  content: "💉🔬 ";
}

#tag_urologia::before {
  content: "💧♂️ ";
}

#tag_epidemiologia::before {
  content: "😷 ";
}

#tag_dermatologia::before {
  content: "🤲 ";
}

#tag_sus::before {
  content: "🏥 ";
}

#tag_história::before {
  content: "⌛ ";
}

#tag_política::before {
  content: "🏛️ ";
}

#tag_neurologia::before {
  content: "🧠 ";
}

#tag_cirurgia::before {
  content: "🔪🩸 ";
}

#tag_radiologia::before {
  content: "🩻 ";
}

#tag_sociologia::before {
  content: "👩🏻‍💼 ";
}

#tag_ginecologia::before {
  content: "♀ ";
}

#tag_documentos::before {
  content: "📄 ";
}

#tag_ferramentas::before {
  content: "🔧 ";
}

#tag_obstetrícia::before {
  content: "🤰 ";
}

#tag_perícias::before {
  content: "🕵️ ";
}

#tag_direito::before {
  content: "⚖️ ";
}

#tag_penal::before {
  content: "👮 ";
}

#tag_nutrição::before {
  content: "💪 ";
}

#tag_infectologia::before {
  content: "🦠 ";
}

#tag_arboviroses::before {
  content: "🦟 ";
}

#tag_tabelas::before {
  content: "🔡 ";
}

#tag_resumos::before {
  content: "📝 ";
}

#tag_psicologia::before {
  content: "🎭 ";
}

#tag_filosofia::before {
  content: "🤔 ";
}

#tag_farmacologia::before {
  content: "🧪💊 ";
}

#tag_natureza::before {
  content: "🐞🌻 ";
}

#tag_pediatria::before {
  content: "👶 ";
}

#tag_obstetricia::before {
  content: "🤰 ";
}

#tag_inteligência::before {
  content: "🌐 ";
}

#tag_guidelines::before {
  content: "🚩 ";
}

#tag_viagem::before {
  content: "🏖️ ";
}

#tag_destinos::before {
  content: "🧳 ";
}

#tag_alcohol::before {
  content: "🍸 ";
}

#tag_american::before {
  content: "🇺🇸 ";
}

[id*="tag_estados"]::before {
  content: "🇺🇸 ";
}

#tag_apple::before {
  content: "🍎 ";
}

#tag_argentinian::before {
  content: "🇦🇷 ";
}

#tag_asian::before {
  content: "🥢 ";
}

#tag_australian::before {
  content: "🇦🇺 ";
}

#tag_austrian::before {
  content: "🇦🇹 ";
}

#tag_bacon::before {
  content: "🥓 ";
}

#tag_beans::before {
  content: "🫘 ";
}

#tag_beef::before {
  content: "🐄 ";
}

#tag_belgian::before {
  content: "🇧🇪 ";
}

#tag_brasil::before {
  content: "🇧🇷 ";
}

#tag_bread::before {
  content: "🍞 ";
}

#tag_breakfast::before {
  content: "🌅 ";
}

#tag_broccoli::before {
  content: "🥦 ";
}

#tag_cake::before {
  content: "🍰 ";
}

#tag_cheese::before {
  content: "🧀 ";
}

#tag_chicken::before {
  content: "🐔 ";
}

#tag_chinese::before {
  content: "🐉 ";
}

#tag_chocolate::before {
  content: "🍫 ";
}

#tag_christmas::before {
  content: "🎄 ";
}

#tag_cookies::before {
  content: "🍪 ";
}

#tag_corn::before {
  content: "🌽 ";
}

#tag_curry::before {
  content: "🍛 ";
}

#tag_dessert::before {
  content: "🍮 ";
}

#tag_dominican::before {
  content: "🇩🇴 ";
}

#tag_drink::before {
  content: "🍹 ";
}

#tag_duck::before {
  content: "🦆 ";
}

#tag_dumpling::before {
  content: "🥟 ";
}

#tag_dutch::before {
  content: "🇳🇱 ";
}

#tag_easter::before {
  content: "✝️ ";
}

#tag_eggs::before {
  content: "🥚 ";
}

#tag_english::before {
  content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿 ";
}

#tag_fasting::before {
  content: "☦️ ";
}

#tag_filipino::before {
  content: "🇵🇭 ";
}

#tag_fish::before {
  content: "🐟 ";
}

#tag_french::before {
  content: "🇫🇷 ";
}

#tag_fruit::before {
  content: "🍇 ";
}

#tag_german::before {
  content: "🇩🇪 ";
}

#tag_greek::before {
  content: "🇬🇷 ";
}

#tag_indian::before {
  content: "🇮🇳 ";
}

#tag_irish::before {
  content: "🇮🇪 ";
}

#tag_israeli::before {
  content: "🇮🇱 ";
}

#tag_italian::before {
  content: "🇮🇹 ";
}

#tag_japanese::before {
  content: "🇯🇵 ";
}

#tag_lebanese::before {
  content: "🇱🇧 ";
}

#tag_lemons::before {
  content: "🍋 ";
}

#tag_liquour::before {
  content: "🥃 ";
}

#tag_lunch::before {
  content: "🍱 ";
}

#tag_mediterranean::before {
  content: "🫒 ";
}

#tag_méxico::before {
  content: "🇲🇽 ";
}

#tag_milk::before {
  content: "🥛 ";
}

#tag_mushrooms::before {
  content: "🍄 ";
}

#tag_pancake::before {
  content: "🥞 ";
}

#tag_pasta::before {
  content: "🍝 ";
}

#tag_pastry::before {
  content: "🧁 ";
}

#tag_peruvian::before {
  content: "🇵🇪 ";
}

#tag_pie::before {
  content: "🥧 ";
}

#tag_pizza::before {
  content: "🍕 ";
}

#tag_polish::before {
  content: "🇵🇱 ";
}

#tag_pork::before {
  content: "🐖 ";
}

#tag_portuguese::before {
  content: "🇵🇹 ";
}

#tag_potato::before {
  content: "🥔 ";
}

#tag_quebec::before {
  content: "⚜️ ";
}

#tag_quick::before {
  content: "🏃 ";
}

#tag_raw::before {
  content: "🍖 ";
}

#tag_rice::before {
  content: "🍚 ";
}

#tag_russian::before {
  content: "🇷🇺 ";
}

#tag_salad::before {
  content: "🥗 ";
}

#tag_sandwich::before {
  content: "🥪 ";
}

#tag_seafood::before {
  content: "🦐 ";
}

#tag_soup::before {
  content: "🍜 ";
}

#tag_sourdough::before {
  content: "🥖 ";
}

#tag_southwest::before {
  content: "🤠 ";
}

#tag_spanish::before {
  content: "🇪🇸 ";
}

#tag_spice::before {
  content: "🧂 ";
}

#tag_spicy::before {
  content: "🌶️ ";
}

#tag_spread::before {
  content: "🧈 ";
}

#tag_steak::before {
  content: "🥩 ";
}

#tag_stew::before {
  content: "🍲 ";
}

#tag_swedish::before {
  content: "🇸🇪 ";
}

#tag_sweet::before {
  content: "🍯 ";
}

#tag_swiss::before {
  content: "🇨🇭 ";
}

#tag_thai::before {
  content: "🇹🇭 ";
}

#tag_tomato::before {
  content: "🍅 ";
}

#tag_tunisian::before {
  content: "🇹🇳 ";
}

#tag_turkey::before {
  content: "🦃 ";
}

#tag_turkish::before {
  content: "🇹🇷 ";
}

#tag_ukrainian::before {
  content: "🇺🇦 ";
}

#tag_vietnamese::before {
  content: "🇻🇳 ";
}

#tag_wine::before {
  content: "🍷 ";
}

img {
  max-height: 25vw;
  border-radius: 4px;
  max-width: 95%;
}

figcaption {
  font-size: 90%;
  font-style: italic;
}

#img-div {
  padding: 0px;
  margin: 0px;
}

#img-div p {
  margin: 0px;
  padding: 0px;
  font-size: 88%;
}

.fundo-only-big {
  position: fixed;
  width: 15em;
  right: 1em;
  bottom: 1em;
  z-index: -1;
}

[class^="carousel"] {
  padding: 1vw;
  padding-left: 0vw;
  margin-bottom: 2rem;
  width: fit-content;
  border-radius: var(--borderRadius);
  border: 1px solid var(--fontColor);
}

.slide {}

.slide img {
  margin-left: 2vw;
  margin-bottom: 0vw;
  max-height: 60vh;
}

div.slide a img {}

.slide ul {}

.slide li {}

.button-container {
  margin-left: 0.5rem;
}

.conteudo div.slide {}

.conteudo div.legend {}

button[id^="proximo"] {}

button[id^="anterior"] {}

button[id^="proximo"],
button[id^="anterior"] {}

button[id^="anterior"] {
  padding-right: none;
}

button[id^="proximo"] {
  margin-left: .5rem;
}

button[id^="proximo"]:hover,
button[id^="anterior"]:hover {}

button[id^="proximo"]:active,
button[id^="anterior"]:active {}

.carousel.slide {}

.carousel.slide iframe {}

.carousel.slide a {}

.carousel.slide a[href] {}

.conteudo .legend {
  margin-left: 0.5rem;
  font-size: 100%;
  color: var(--font);
  font-style: italic;
}

.legend {}

.legend p {}

.carousel.slide a[href] img {}

pre {
  white-space: space;
}

pre.mermaid {
  width: 93%;
  border: none;
  background: none;
}

.mermaid svg {
  align: center
}

/*
table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--borderColor);
  overflow: hidden;
  margin-right: 5vw;
}
th {
  background: var(--darkerBg);
  border: 1px solid var(--borderColor);
}
th, td {
  border: 1px solid var(--borderColor);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
*/
table {
  border-radius: var(--borderRadius);
  border-spacing: 0;
  border-collapse: separate;
  border: var(--stdBorder);
  overflow: hidden;
  margin-right: 5vw;
  max-width: 70vw;
}

table th:not(:last-child),
table td:not(:last-child) {}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
  border-bottom: var(--stdBorder);
}

table>thead>tr strong,
table>thead>tr {
  color: lightgray;
}

tr td {
  border-bottom: var(--stdBorder);
}

th {
  background-color: var(--darkerBg);
  border-top: var(--stdBorder);
  border-bottom: var(--stdBorder);
}

th,
td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: var(--stdBorder);
}

#TableOfContents {
  margin-bottom: 20ch;
}

#TableOfContents li::marker {
  content: none;
}

#TableOfContents li:hover {}

#TableOfContents li:hover::marker {
  font-weight: bold;
  content: ">";
}

#TableOfContents li li a {
  padding-left: 1rem;
}

pre,
blockquote {
  width: fit-content;
  max-width: 80%;
  padding: 2ch;
  padding-left: 1ch;
  font-style: italic;
  margin: 2ch;
  background: var(--vidro);
  margin-left: 0px;
  border-radius: var(--borderRadius);
}

pre {
  border-radius: var(--borderRadius);
}

code {
  color: black;
  font-size: 95%;
  white-space: break-spaces;
  font-family: 'mono';
  font-style: normal;
  /* background: #202020; */
  border-radius: var(--borderRadius);
  max-width: 80vw;
}

p code {
  padding: 1ch;
  padding-top: 1px;
  padding-bottom: 1px;
}

@keyframes blinkEmConstrucao {
  0% {
    color: black
  }

  ;

  50% {
    color: pink
  }

  ;

  100% {
    color: red
  }

  ;
}

.emConstrucao {
  font-weight: bold;
  animation: blinkEmConstrucao 2s infinite;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  padding: 0px;
  margin: 1.5ch;
  margin-left: 0px;
  margin-top: 3rem;
  font-weight: bold;
  color: var(--headingsColor);
}

h1,
h2 {
  font-size: 150%;
}

h3,
h4,
h5,
h6 {
  font-size: 120%;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 110%;
  font-weight: 300;
}

h2::before {
  content: "\00a0 — "
}

h3::before,
h4::before,
h5::before,
h6::before {
  content: "\00a0 \00a0";
}

h4::before,
h5::before,
h6::before {
  content: "\00a0 \00a0 \00a0 \00a0";
}

#greeting {}

.primeiraMaiuscula::first-letter {
  text-transform: uppercase;
}

.mermaid {
  background-color: transparent;
  border: none;
}

/* Para Katex, veja o shortcode com css integrado. */
.mermaid svg {
  align: center
}

.scalidraw {
  display: flex;
}

.scalidraw svg {
  margin-left: var(--margem);
  margin-bottom: 0%;
  padding: 0%;
  max-width: var(--largura-texto);
}

.duploflex {
  /*
  display: inline-flex;
  */
  display: flex;
  justify-content: flex-start;
}

.duploflex div {
  max-width: 40%;
}

.duploflex img {
  width: 50%;
}

div.duploflex p {}

hr {
  width: 25%;
  align: start;
}

#nomeTema:hover {
  background: none;
}

.material-icons {
  vertical-align: middle;
}

.etiqueta {}

div#artigos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

div#artigos #artigo {
  flex: 1 1 200px;
  max-width: 20vw;
  min-width: 200px;
  width: fit-content;
  height: fit-content;
  margin: 1ch;
  background: #fff;
  /* border: 1px solid var(--borderColor); */
  padding: 1rem;
  border-radius: var(--borderRadius);
}

div#artigos #artigo:hover,
div#artigos #artigo:active {
  /* border: 4px solid darkred; */
  /* background: #eee; */
}

div#artigos #artigo img {
  max-height: 150px;
}

#artigo {
  text-align: center;
}

div#artigos #artigo a {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 900;
}
div#artigos #artigo p,
div#artigos #artigo h2,
div#artigos #artigo h3,
div#artigos #artigo h4,
div#artigos #artigo h5 {
  text-align: start;
  color: var(--fontColor);
  font-weight: normal;
  font-size: 100%;
}

div#artigos-lista-simples {
  text-align: center;
}

details {
  border-radius: var(--borderRadius);
  background-color: var(--vidro);
  width: 40vw;
  padding: 0.5ch;
}

iframe {
  max-width: 95%;
}
/* Mediaqueries */
@media only screen and (max-width: 800px) {
  img {
    max-height: 60vw;
  }

  div#artigos {
    display: block;
  }

  div#artigos #artigo {
    max-width: none;
  }
}

@media only screen and (max-width: 900px) {
  .duploflex {
    display: block;
  }

  .duploflex div {
    max-width: 100%;
  }

  .fundo-only-big {
    display: none;
  }

  body {
    font-size: 95%;
    margin: 2ch calc(15% - 50px);
  }
}

@media only screen and (max-width: 500px) {
  :root {
    background-color: var(--backgroundColor);
  }

  body {
    font-size: 90%;
    margin: 1ch 0px;
  }

  article,
  nav.barra {
    border: none;
  }
}


@media print {
  article {
    margin-top: 0px;
    padding-top: 0px;
  }
  nav.barra {
    display: none
  }
  h1, h2, h3, h4 {
   page-break-after: avoid;
   padding-top: 10px;
  }
}
